<p>Hello <%= @user.first_name %>,</p>

<p>Thank you for joining GlobeGetter! We are confident that you will enjoy setting your longterm travel goal with us and make your dreams come true! In the meantime, feel free to explore all of the countries and destinations on our page!</p>

<%= link_to "Get back on GlobeGetter", root_url %>

<p>Love,</p>

<p>From the GlobeGetter team.</p>
