
.destinations-select-container {
    display: flex;
    align-items: space-between;
    flex-direction: row;
    position: absolute;
    top: 70px;
    &>div {
      padding: 2vh 1vw;
    }
}

.sidebar {
    width: 20vw;
    min-height: 100vh;
    background-color: black;
    color: white;
}

.display-lists {
    width: 80vw;
}

#sidebar.active {
    margin-left: -250px;
}
