<div class="destinations-select-container">

  <div class="sidebar">
    <%= render partial: 'destinations/display_lists', locals: {destinations: @destinations} %>
  </div>

    <%= render partial: 'countries/display_lists', countries: @countries %>

</div>
