/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin-top: 28px;
  text-align: center;
  background-color: rgba(255,255,255,0.3);
  border: 0;
  position: absolute;
  top: 72px;
  width: 100%;
}
.alert-info {
  color: #FF2A6B;
  //font-family: 'Lato', 'sans-serif' !important;
  font-size: 19px;
}
.alert-warning {
  color: #cc0000;
  //font-family: 'Lato', 'sans-serif' !important;
  font-size: 19px;
}
