/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  background-color: rgba(255,255,255,0.3);
  border: 0;
  position: absolute;
  top: 72px;
  width: 100%;
}
.alert-info {
  color: #FF2A6B;
}
.alert-warning {
  color: $red;
}
