.country-stats {
  width: 25vw;
  background-color: rgba(0,0,0,0.6);
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  border-left: 1px solid #ed4b72;
  box-shadow: black -3px -1px 2px;
  padding-top: 2vh;
  padding-bottom: 2vh;
  div {
    max-width: 23vw;
  }
  p {
    color: white;
  }
  h3 {
    font-size: 1em;
    text-transform: uppercase;
    color: $pink;
    margin-top: 2vh;
  }
}

.country-info {
  display: flex;
  flex-direction: column;
}
