.dashboard-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-bottom: 2vh;
  h2, h3{
   text-align:center;
  }

  h3 {
    text-transform: uppercase;
    color: $pink;
    font-size: 1em;
  }
}
