.map-page {
  //margin: 2vh 2vh 0vh 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map-container {
  display: flex;
  padding: 1vh 1vw 0vh 1vw;
  margin: 1vh auto;
  flex-direction: column;
  //flex-wrap: wrap;
  justify-content: center;
  align-items: inherit;
  border-top: solid 2px #ff2a6b;
  border-right: solid 2px #ff2a6b;
  max-width: 28vw;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  h3 {
    margin-top: 5px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 1em;
    color: #ff2a6b;
  }
  p {
    color: rgba(255,255,255,0.9);
    font-weight: 300;
  }
}

.map-item {
  min-height: 2vh;
  text-align: left;
  padding-left: 2vw;
  padding-right: 1vw;
}

.country-image {
  display: flex;
  height: 90vh;
  width: 100vw;
  background-repeat: no-repeat;
  margin: 0vh auto;
  background-size: cover;
  background-position: center;
  flex-direction: row;
  justify-content: space-between;
  h1 {
    margin-top: 0px;
    color: white;
    font-size: xxx-large;
    padding: 3vh 0vh 0vh 3vh;
    float: left;
 }
  a {
    margin-top: 0px;
    color: white;
    font-size: x-large;
    padding: 1vh 0vh 0vh 3vh;
    float: left;
    font-weight: 400;
  }
  .stars-box {
    padding: 0vh 0vh 3vh 3vh;
  }
  .stars {
    margin-top: 0px;
    color: white;
    font-size: large;
    float: left;
    font-weight: 200;
    padding-right: 11px;
  }
}
