<% Destination::DESTINATION_TYPES.each do |destination_type| %>
  <h3> <%= destination_type[:title] %> </h3>
  <%= render partial: 'destinations/card', collection: destinations.where(status: destination_type[:status]) %>
<% end %>
