console.log("This is happening.");
let divToUpdate = null;
<% if @from_card == 1 %>
  console.log("One is happening.");
  divToUpdate = getElementById("visitsoon");
  console.log(divToUpdate);
<% elsif @from_card == 2 %>
  console.log("Two is happening.");
  divToUpdate = getElementById("tovisit");
<% elsif @from_card == 3 %>
  console.log("Three is happening.");
  divToUpdate = getElementById("visited");
<% else %>
//   console.log("four is happening.");
//   const inTheMap = getElementById("destinations")";
//   inTheMap.insertAdjacentHTML("afterbegin", "<p><%= @notes %></p>");
// 'destinations/card', collection: destinations.where(id: @destination.id);
<% end %>

console.log("hi");
if(divToUpdate !== null) {
  console.log("now");
  divToUpdate.insertAdjacentHTML("beforeend", "<%= j render partial: 'card', object: Destination.find(@destination.id)  %>");
}
