// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

.main-content {
  min-height: 100%;
  overflow-y: scroll;
  display: block;
  #content {
    margin-top: 2vh;
  }
}

.review-form {
    height: 70vh;
  }

body {
  background-color: white;
  //background-color: #F4F4F4;
  //background-image: url('arches.png');
  &.page-pages-home, &.page-registrations-new, &.page-registrations-edit, &.page-sessions-new,
  &.page-unlocks-new, &.page-confirmations-new, &.page-passwords-new, &.page-passwords-edit {
    background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.45) 50%), url('https://images.unsplash.com/photo-1484544808355-8ec84e534d75?auto=format&fit=crop&w=1532&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D');
    background-size: cover;
    background-repeat: no-repeat;
    .navbar-wagon {
      background-color: transparent;
    }
    .navbar-user-wagon {
      background: transparent !important;
    }
    .navbar-wagon {
      background: transparent !important;
    }
  }
}

